.App {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2e9eb;

  padding: 1rem;

  box-sizing: border-box;
}

.search {
  width: 100%;
}

.data {
  width: 100%;
  max-width: 500px;

  margin-top: 4rem;
}
